$colorPrimary: #3F51B5;
$colorPrimaryDark: #283593;
$colorAccent: #F50057;

$fontStack: Arial, Helvetica, sans-serif;

.send-icon:before {
  content: 'send',
}

.back-icon:before {
  content: 'arrow_back',
}
